.footer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 5rem;
  width: 100%;
  background-color: rgba(240, 240, 240, 0.85);
  margin-top: 12.8rem;
}

.left-footer,
.center-footer,
.right-footer {
  width: 33.3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.right-footer {
  width: 50%;
}

.center-footer {
  align-items: flex-start;
  margin-left: 5vw;
}

.left-footer {
  align-items: center;
}

.address-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  border-top: 2px solid black;
}

.address-item {
  font-size: 1.8rem;
  font-weight: 600;
}

.footer-logo-box {
  width: 65%;
  display: flex;
  align-items: center;
  padding-bottom: 3rem;
}

.footer-logo {
  width: 100%;
}

.footer-link-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  gap: 0.8rem;
  border-top: 2px solid black;
  width: 100%;
}

.footer-link-item {
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 600;
  transition: all 0.3s;
  letter-spacing: 0.6;
}

.footer-link-item:hover {
  transform: scale(1.1) translateY(4px);
}

.footer-link {
  color: black;
  text-decoration: none;
}

.partners-box {
  padding-top: 5rem;
}

.partners-list {
  display: flex;
  gap: 2rem;
}

.partners-item {
  display: flex;
  align-items: center;
}

.partner-logo {
  width: 8rem;
  height: 8rem;
}

.partner-logo-text {
  font-size: 1.5rem;
  font-weight: 700;
  margin-left: 0.5rem;
  text-transform: uppercase;
}

.social-link:visited,
.social-link:link {
  font-size: 2.8rem;
  margin-right: 0.4rem;
}

.social-link:hover {
  transform: scale(1.1);
}

.instagram-logo,
.facebook-logo {
  background: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);
  background-clip: text;
  color: transparent;
  transition: all 0.3s ease-out;
}

.facebook-logo {
  color: #3b5998;
  background: transparent;
}

.facebook-logo:hover,
.instagram-logo:hover {
  transform: scale(1.1) translateY(-4px);
  cursor: pointer;
}

.footer-icon {
  font-size: 3.6rem;
}
